body {
    font-family: Consolas, monaco, monospace;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Blanco */
    color: #333333; 
}

header {
    background-color: #4f4aa6; /* Lila */
    padding: 20px;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

nav {
    background-color: #2ed573; /* Verde */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Texto en blanco */
    font-size: 18px;
}

.container {
    display: flex;
  }
  
.column {
    flex: 1; /*Indica que debe ocupar todo el espacio*/
}
  
.column img {
    width: 100%;
    height: auto;
}
  
.column h2 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    color: #333;
    font-size: 30px;
    text-align: justify; 
}

.container2 {
    display: flex; /* Aplica un diseño flexible */
    margin-left: 20px;
    margin-top: 20px;
}

.box {
    width: 300px; 
    padding: 20px; 
    margin-right: 20px; 
    background-color: #f5f5f5; 
    border: 1px solid #2ed573; 
    align-items: center; 
    text-align: center; 
}

.box h3 {
    margin-left: 20px;
}

.box img {
    height: 150px;
    width: auto;
    margin-bottom: 10px; 
}

.box p {
    text-align: justify;
}

.box .more-info-btn {
    background-color: #4f4aa6;
    color: white;
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alinear texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Márgenes */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    border-radius: 4px; /* Radio de borde */
}
  
footer {
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}  