body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Blanco */
    color: #333333; /* Texto principal */
}

header {
    background-color: #8a4dff; /* Lila */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff; /* Texto en blanco */
}

nav {
    background-color: #2ed573; /* Verde */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Texto en blanco */
    font-size: 18px;
}

section {
    padding: 50px 20px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #8a4dff; /* Lila */
}

p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background-color: #8a4dff; /* Lila */
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #ffffff; /* Texto en blanco */
}

footer p {
    margin: 0;
}

/* Estilos personalizados para el video */
section#explicacion iframe {
    width: 100%;
    height: 450px;
    border: none;
    margin-bottom: 30px;
}

/* Estilos para hacer el contenido más compacto */
ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.image-container img {
    width: 150px;
    height: 150px;
    margin: 10px;
    object-fit: cover;
    border-radius: 50%;
}
#boton-subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-subir:hover {
    transform: scale(1.1);
}

#boton-subir img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
@import url('https://fonts.googleapis.com/css2?family=Walker+Bot&display=swap');

#impacto {
  position: relative;
  height: 100vh;
  background-color: #f9f9f9;
}

#imagen-impacto {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#imagen-impacto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  #imagen-impacto {
    background-image: url('../image/fondomano2.jpg');
    background-size: cover;
    background-position: center;
  }

  #imagen-impacto img {
    display: none;
  }
}

#titulo-impacto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 2;
  font-family: 'Roboto', sans-serif;
  left: 66%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#titulo-impacto h2 {
  font-size: 70px;
  background-image: linear-gradient(to right, #8B008B, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
}

#titulo-impacto h2 span {
  display: block;
}

 /* Estilos CSS para el GIF */
#gif-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#gif-wrapper img {
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    animation: move 10s infinite linear;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100% - 200px));
    }
    100% {
        transform: translateX(0);
    }
}

/* Estilos CSS adicionales para el contenido */
#futuro {
    padding: 20px;
    background-color: #f2f2f2;
    text-align: justify;
    position: relative;
    z-index: 1;
}

#futuro h2 {
    color: #333;
    margin-bottom: 10px;
}

#futuro p {
    margin-bottom: 10px;
}

#futuro ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}

#futuro li {
    margin-bottom: 5px;
}
#image-container {
    position: absolute;
    top: 65%;
    right: 200px;
    transform: translateY(-50%);
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

#image-container2 {
    position: absolute;
    top: 65%;
    right: 30px;
    transform: translateY(-50%);
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

#robot-hand {
  width: 400px;
  height: 400px;
  background-image: url('../image/manorobot.png');
  background-size: cover;
}

#greeting {
      text-align: center;
      font-family: 'Press Start 2P', Arial, sans-serif;
      font-size: 25px;
      color: purple;
      text-shadow: 2px 2px 0px lime;
      vertical-align: super;
      position: relative;
      top: -220px;
      left: 20px;
    }

#body1 {
      background: #f1f1f1 url('../image/fondo5.jpg') center/cover;
  }

#greeting2 {
      text-align: center;
      font-family: 'Press Start 2P', Arial, sans-serif;
      font-size: 12px;
      color: purple;
      text-shadow: 2px 2px 0px lime;
      vertical-align: super;
      position: relative;
      top: -220px;
      left: 20px;
    }

